<div class="col-sm-4" id='squad_fpp_season_stats_container'>
	<div class="card">
		<div class="card-header">
			<span id='squad_fpp_season_stats'></span> <small class="float-sm-right"  id='squad_fpp_season_matches'></small>
		</div>
		<div class="card-body">
			<table class="table table-sm table-bordered condensed">
				<tbody>
					<tr>
						<th class='card-header small' width='60%' id='squad_fpp_season_kills__text'></th>
						<td class='card-body small' id='squad_fpp_season_kills__figure'></td>
					</tr>
					<tr>
						<th class='card-header small' width='60%' id='squad_fpp_season_damage__text'></th>
						<td class='card-body small' id='squad_fpp_season_damage__figure'></td>
					</tr>
					<tr>
						<th class='card-header small' width='60%' id='squad_fpp_season_longest_kill__text'></th>
						<td class='card-body small' id='squad_fpp_season_longest_kill__figure'></td>
					</tr>
					<tr>
						<th class='card-header small' width='60%' id='squad_fpp_season_headshots__text'></th>
						<td class='card-body small' id='squad_fpp_season_headshots__figure'></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>